* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

body {
    background: white;
}

/* ANA DÜZEN */
.notfound-container {
    display: flex;
    height: 100vh;
}

/* SOL */
.text-area {
    width: 50%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-area h1 {
    font-size: 96px;
    font-weight: 800;
    color: #111;
}

.text-area h2 {
    font-size: 28px;
    margin-top: 10px;
    color: #333;
}

.text-area p {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

/* BUTON */
.btn {
    margin-top: 40px;
    width: fit-content;
    padding: 14px 26px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
}

.btn:hover {
    background: #1e40af;
}

/* SAĞ */
.image-area {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-area img {
    width: 90%;
    max-width: 600px;
}

/* MOBİL */
@media (max-width: 900px) {
    .notfound-container {
        flex-direction: column;
    }

    .text-area,
    .image-area {
        width: 100%;
        padding: 40px;
        text-align: center;
    }

    .btn {
        margin-left: auto;
        margin-right: auto;
    }
}
