body {
    background-color: black;
}
::selection {
    background: gray;
    color: aquamarine;
}
.sirketbaslik {
    text-align: center;
    color: aqua;
    font-size: 50px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list {
    display: flex;
    justify-content: center;
}
.list__item a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    gap: 20px;
    padding: 20px;
    border-radius: 24px;
    border: 1px solid #EB8028;
    transition: 0.2s;
}
.item__img {
    object-fit: contain;
    width: 150px;
}
.list__item a:hover {
    box-shadow: 1px 1px 4px 4px greenyellow;
}
.list__item span {
    color: aquamarine;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}