@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css);
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    background: #0f172a;

    display: flex;
    flex-direction: column;  /* dikey sıralama */
    min-height: 100vh;       /* ekran yüksekliği kadar */
    overflow: hidden;
}

main {
    flex: 1;                 /* kalan alanı kapla */
    display: flex;
    justify-content: center;  /* yatay ortala */
    align-items: center;      /* dikey ortala */
}

.upload-box {
    width: 360px;
    max-width: 90%;
    padding: 30px;
    background: #020617;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
    text-align: center;
}

.upload-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.upload-box input,
.upload-box button {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.upload-box button {
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.msg {
    margin-top: 15px;
    font-weight: bold;
}

.site-footer {
    width: 100%;             /* tam genişlik */
    text-align: center;      /* yazıyı ortala */
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #f5deb3;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
  display: inline-block;
  padding: 24px 48px;
  background: #2e8b57;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.btn_red {
  display: inline-block;
  padding: 24px 48px;
  background: #eb0606;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.btn_red:hover {
    background: #6b0000;
}
.btn_blue {
  display: inline-block;
  padding: 24px 48px;
  background: #06a3eb;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.btn_blue:hover {
    background: rgb(6, 65, 228);
}
.btn_yellow {
  display: inline-block;
  padding: 24px 48px;
  background: #bebb06;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.btn_yellow:hover {
    background: #727002;
}
.btn:hover{
  background: #246b45;
}
.nav {
    display: flex;
    gap: 10px;
    align-self: center; /* 🔥 stretch’i kırar */
}