body {
    background-color: black;
}
::selection {
    background: gray;
    color: aquamarine;
}
.baslik {
    text-align: center;
    color: aqua;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list {
    display: flex;
    justify-content: space-around;
}
.list__item a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    gap: 20px;
    padding: 20px;
    border-radius: 24px;
    border: 1px solid #EB8028;
    transition: 0.2s;
}
.item__img {
    object-fit: contain;
    width: 150px;
}
.list__item a:hover {
    box-shadow: 1px 1px 4px 4px greenyellow;
}
.list__item span {
    color: aquamarine;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.header__item {
    font-size: 100px;
    text-align: center;
}
.header {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #CCE59D;
    padding: 10vh 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.site-footer{
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  background: rgba(5, 175, 226, 0.6);
  color: #f5deb3;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 2;
}

.site-footer p{
  margin: 0;
}
