.admin-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 52px;
    height: 52px;
    background: #000;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 52px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(0,0,0,.6);
    z-index: 9999;
}

.admin-btn:hover {
    background: #111;
}
