<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>404 - Sayfa Bulunamadı</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
</head>
<body>

<div class="notfound-container">
    <div class="text-area">
        <h1>404</h1>
        <h2>Sayfa Bulunamadı</h2>
        <p>Aradığın sayfa taşınmış veya silinmiş olabilir.</p>
        <a href="/" class="btn">Ana Sayfaya Dön</a>
    </div>

    <div class="image-area">
        <img src="/static/img/404.png" alt="404 Worker">
    </div>
</div>
<footer style="text-align:center; color:#888; font-size:14px; padding:20px;">
  © <span id="year"></span> infinitesoft-tr. Tüm hakları saklıdır.
</footer>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>

</body>
</html>
