<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Çamsepeti-Satın al</title>
    <link rel="stylesheet" href="../static/css/decor_buy.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=3">
</head>
<body>
    <div class="snow"></div>
    <main>
    <h1 class="baslik">ÇAMSEPETİ</h1>
    <h2 class="baslik_alt">Satın Alma</h2>
    </main>
    <main>
        {% block content %}
        <form action="{{url_for ('buy_success')}}" method="post" class="form">
            <div class="user">
                <ul class="user-info">
                    <li class="user-info__item">
                        <label for="name">Tam adınız</label>
                        <input type="text" name="name" id="name" placeholder="Tam adınızı girin" required>
                    </li>
                    <li class="user-info__item">
                        <label for="card" type="card" id="card" name="card">Kredi kartınız</label>
                        <input type="number" placeholder="Kredi kartınızı girin" name="card" id="card" required>
                    </li>
                    <li class="user-info__item">
                        <label for="cvv" type="cvv" id="cvv" name="cvv">CVV</label>
                        <input type="number" placeholder="Örn: 123" name="cvv" id="cvv" required>
                    </li>
                    <li class="user-info__item">
                        <label for="expire" type="date" id="date" name="date">Son kullanma tarihi</label>
                        <input type="month" placeholder="12/34" name="expire" id="expire" required>
                    </li>
                    <li class="user-info__item">
                        <label for="address" type="address" id="address" name="address">Kargonun gönderilecek adresi</label>
                        <input type="text" placeholder="123 Freddy Fazbear Street" name="address" id="address" required>
                    </li>
                </ul>
            </div>
            <button class="button" type="submit">Satın al!</button>
        </form>
        {% endblock %}
    </main>
        <footer class="site-footer">
        <p>
            ⚠️ Çamsepeti bir okul projesidir. Gerçek kişisel bilgilerinizi paylaşmayınız.
        </p>
    </footer>
    <footer style="text-align:center; color:#888; font-size:14px; padding:20px;">
  © <span id="year"></span> infinitesoft-tr. Tüm hakları saklıdır.
</footer>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>

</body>
</html>