<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Çamsepeti-Teşekkürler!</title>
    <link rel="stylesheet" href="../static/css/decor_buy_success.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=3">
</head>
<body>
        <a class="btn" href="/camsepeti/home">
        <i class="fa-solid fa-house"></i> Ana Sayfa
    </a>
    <a href="/camsepeti/logout" class="btn_red">
        <i class="fa-solid fa-right-from-bracket"></i> Çıkış Yap
    </a>
    <a href="/camsepeti/sepet" class="btn_yellow">
        <i class="fa-solid fa-basket-shopping"></i> Sepetim
    </a>
    <div class="snow"></div>
    <main>
    <h1 class="baslik">ÇAMSEPETİ</h1>
    </main>
    <h2 class="baslik_alt">Çamsepeti üyeleri olarak teşekkür ederiz!</h2>
    <img src="../static/img/tik.png" alt="tik.png" class="tik">
    <h2 class="ok">İşleminiz tamamlanmıştır!</h2>
        <footer class="site-footer">
        <p>
            ⚠️ Çamsepeti bir okul projesidir. Gerçek kişisel bilgilerinizi paylaşmayınız.
        </p>
    </footer>
    <footer style="text-align:center; color:#888; font-size:14px; padding:20px;">
  © <span id="year"></span> infinitesoft-tr. Tüm hakları saklıdır.
</footer>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>

</body>
</html>