<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Dosyalar</title>
    <link rel="stylesheet" href="../static/css/decor_files.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=3">
</head>
<body class="files-page">
    <div class="nav">
    <a class="btn" href="/infinitecloud">
        <i class="fa-solid fa-house"></i> Ana Sayfa
    </a>
    <a href="/infinitecloud/upload" class="btn_yellow">
        <i class="fa-solid fa-cloud"></i> Yükle
    </a>
    <a href="/infinitecloud/reset-login" class="btn_red">
        <i class="fa-solid fa-user"></i> Admin Giriş
    </a>
    <a href="/" class="btn_blue">
        <i class="fa-brands fa-squarespace"></i> Projeler
    </a>
    </div>
    <main>
    <h1>Yüklenen Dosyalar</h1>
    </main>

    <img src="../static/img/files.webp" class="cloud-img">

    <ul class="file-list">
        {% for media in files %}
        <li>
            <span>⬇️ {{ media.download_count }} indirme</span>
            {% if media.is_private %}
            <span>🔒 {{ media.original_name }}</span>
            {% else %}
            <span>{{media.original_name}}</span>
            {% endif %}
            {% if can_delete %}
            <a href="{{url_for ('delete_file',media_id=media.id)}}">Sil</a>
            {% endif %}
            <a target="_blank"href="{{url_for ('look',media_id=media.id)}}">Ön izle</a>
            <a href="{{ url_for('download_file', media_id=media.id) }}">İndir</a>
        </li>
        {% else %}
        <li>Hiç dosya yok.</li>
        {% endfor %}
    </ul>

    <div class="counter">
        📁 {{ files_count }} dosya
    </div>

<h2>🗄️ PythonAnywhere Arşivi</h2>

<ul class="file-list">
{% for f in pa_files %}
<li>
    <span>📦 PythonAnywhere</span>
    <span>{{ f }}</span>

    <a href="infinitesoft-tr.com/infinitecloud/pa/download/{{ f }}">İndir</a>
    {% if is_admin %}
    <a href="infinitesoft-tr.com/infinitecloud/pa/delete/{{ f }}" onclick="return confirm('Silinsin mi?')">Sil</a>
    {% endif %}
</li>
{% else %}
<li>PythonAnywhere’de dosya yok.</li>
{% endfor %}

</ul>

<br>
<pre>{{ pa_files }}</pre>

<div class="action-bar">
    <a href="{{ url_for('download_all') }}" class="download-btn">
        ⬇️ InfiniteCloud Tümünü İndir
    </a>

    {% if can_reset %}
    <form action="{{ url_for('reset_files') }}" method="post"
          onsubmit="return confirm('EMİN MİSİN? TÜM DOSYALAR SİLİNECEK!')">
        <button type="submit" class="danger-btn">
            🚨 InfiniteCloud Tümünü Sil
        </button>
    </form>
    {% endif %}
</div>
</div>
<!-- <footer class="site-footer">
    <p>Dosya yüklerken iki kere düşün ibiş çünkü yüklenen dosyaları bir tek adminler silebilir!</p>
</footer> -->
</body>
</html>
