<!DOCTYPE html>
<html>
<head>
    <title>Dosyalar</title>
    <link rel="stylesheet" href="../static/css/decor_files.css">
</head>
<body class="files-page">

    <h1>Yüklenen Dosyalar</h1>

    <img src="../static/img/upload-icon-4.png" class="cloud-img">

    <ul class="file-list">
        {% for media in files %}
        <li>
            <span>⬇️ {{ media.download_count }} indirme</span>
            {% if is_private %}
            <span>🔒 {{ media.original_name }}</span>
            {% else %}
            <span>{{media.original_name}}</span>
            {% endif %}
            {% if can_delete %}
            <a href="{{url_for ('delete_file',media_id=media.id)}}">Sil</a>
            {% endif %}
            <a target="_blank"href="{{url_for ('look',media_id=media.id)}}">Ön izle</a>
            <a href="{{ url_for('download_file', media_id=media.id) }}">İndir</a>
        </li>
        {% else %}
        <li>Hiç dosya yok.</li>
        {% endfor %}
    </ul>

    <div class="counter">
        📁 {{ files_count }} dosya
    </div>

    <br>
<div class="action-bar">

    <a href="{{ url_for('download_all') }}" class="download-btn">
        ⬇️ Tüm Dosyaları İndir
    </a>

    {% if can_reset %}
    <form action="{{ url_for('reset_files') }}" method="post"
          onsubmit="return confirm('EMİN MİSİN? TÜM DOSYALAR SİLİNECEK!')">
        <button type="submit" class="danger-btn">
            🚨 Tüm Dosyaları Sil
        </button>
    </form>
    {% endif %}

</div>
<footer class="site-footer">
    <p>Dosya yüklerken iki kere düşün ibiş çünkü yüklenen dosyaları bir tek adminler silebilir!</p>
</footer>
</body>
</html>
