<!DOCTYPE html>
<html>
<head>
    <title>Dosyalar</title>
    <link rel="stylesheet" href="../static/css/decor_files.css">
</head>
<body class="files-page">

    <h1>Yüklenen Dosyalar</h1>

    <img src="../static/img/upload-icon-4.png" class="cloud-img">

    <ul class="file-list">
        {% for media in files %}
        <li>
            <span>{{ media.filename }}</span>
            <a href="{{ url_for('download_file', media_id=media.id) }}">İndir</a>
        </li>
        {% else %}
        <li>Hiç dosya yok.</li>
        {% endfor %}
    </ul>

    <div class="counter">
        📁 {{ files_count }} dosya
    </div>

    <br>
    <a href="/infinitecloud/files/download_all" class="danger-btn">
        Tüm Dosyaları İndir
    </a>
    <form action="/infinitecloud/reset" method="post"
      onsubmit="return confirm('EMİN MİSİN? TÜM DOSYALAR SİLİNECEK!')">
    <button style="color:red;">🚨 TÜM DOSYALARI SIFIRLA</button>
</form>


</body>
</html>
