<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Infinitecloud | Dosyalarım</title>
    <link rel="stylesheet" href="../static/css/decor_files.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=3">
</head>
<body class="files-page">
    <div class="nav">
    <a class="btn" href="/infinitecloud">
        <i class="fa-solid fa-house"></i> Ana Sayfa
    </a>
    <a href="/infinitecloud/upload" class="btn_yellow">
        <i class="fa-solid fa-cloud"></i> Yükle
    </a>
    <a href="/admin" class="btn_red">
        <i class="fa-solid fa-user"></i> Admin Giriş
    </a>
    <a href="/" class="btn_blue">
        <i class="fa-brands fa-squarespace"></i> Projeler
    </a>
    </div>
    <main>
    <h1>Yüklenen Dosyalar</h1>
    </main>

    <img src="../static/img/files.webp" class="cloud-img">

    <ul class="file-list">
        {% for media in files %}
<li class="
    file-item
    {% if media.high_lighted %} admin-featured {% endif %}
">
            <span>{{media.original_name}}</span>
            <a href="{{url_for ('delete_myfile',media_id=media.id)}}">Sil</a>
            <a target="_blank"href="{{url_for ('lookmy',media_id=media.id)}}">Ön izle</a>
            <a href="{{ url_for('download_myfile', media_id=media.id) }}">İndir</a>
        </li>
        {% else %}
        <li>Hiç dosya yok.</li>
        {% endfor %}
    </ul>

    <div class="counter">
        📁 {{ files_count }} dosya
    </div>


<br>

<div class="action-bar">
    <a href="{{ url_for('download_all') }}" class="download-btn">
        ⬇️ InfiniteCloud Tümünü İndir
    </a>

    {% if can_reset %}
    <form action="{{ url_for('reset_files') }}" method="post"
          onsubmit="return confirm('EMİN MİSİN? TÜM DOSYALAR SİLİNECEK!')">
        <button type="submit" class="danger-btn">
            🚨 InfiniteCloud Tümünü Sil
        </button>
    </form>
    {% endif %}
</div>
<footer style="text-align:center; color:#888; font-size:14px; padding:20px;">
  © <span id="year"></span> infinitesoft-tr. Tüm hakları saklıdır.
</footer>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>

</body>
</html>
