<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Ek projeler</title>
    <link rel="stylesheet" href="/static/css/decor_plusproject.css">
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=">
</head>
<body>
    <main>
    <h1 class="baslik">DİĞER PROJELER</h1>
    </main>
    <div class="note">
        <img src="../static/img/note.jpg" alt="note" class="note-img">
        <a href="/" class="note-a">Not oluşturucu</a>
    </div>
</body>
</html>