<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Infinitesoft-tr</title>
    <meta charset="UTF-8">
    <meta name="description" content="Infinitesoft-tr - projeler, araçlar ve deneyler">
    <link rel="stylesheet" href="../static/css/decor_projects.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=3">
    <link rel="canonical" href="https://www.infinitesoft-tr.com/" />
</head>
<body>
    <main>
    <header class="header">
        <h3 class="header__item">Infinitesoft-tr.com'un ürettiği projelere bakın!</h3>
    </header>
    </main>
    <ul class="list">
        <li class="list__item">
            <a href="/infinitecloud">
                <img class="item__img" src="../static/img/upload-icon-4.png" alt="bulut">
                <span>infinitecloud</span>
            </a>
        </li>
        <li class="list__item">
            <a href="/camsepeti">
                <img src="../static/img/camsepeti.png" alt="camsepeti" class="item__img">
                <span>Çamsepeti</span>
            </a>
        </li>
    </ul>
<footer class="site-footer">
    <p>Versiyon: 2.5.1</p>
</footer>
</body>
</html>