{% extends "base.html" %}

{% block title %}Infinitesoft-tr{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/decor_projects.css') }}">
{% endblock %}

{% block content %}
<main>
    <header class="header">
        <h3 class="header__item">
            Infinitesoft-tr.com'un ürettiği projelere bakın!
        </h3>
    </header>

    <ul class="list">
        <li class="list__item">
            <a href="/infinitecloud">
                <img class="item__img"
                     src="{{ url_for('static', filename='img/upload-icon-4.png') }}"
                     alt="bulut">
                <span>infinitecloud</span>
            </a>
        </li>

        <li class="list__item">
            <a href="/camsepeti">
                <img class="item__img"
                     src="{{ url_for('static', filename='img/camsepeti.png') }}"
                     alt="camsepeti">
                <span>Çamsepeti</span>
            </a>
        </li>

                <li class="list__item">
            <a href="#">
                <img class="item__img"
                     src="{{ url_for('static', filename='img/mouse_pushgame.png') }}"
                     alt="PUSHGAME">
                <span>Push Game | ÜZERİNDE ÇALIŞILIYOR!</span>
            </a>
        </li>
    </ul>
</main>
{% if not can_delete %}
<a href="/admin" class="admin-btn">🔑</a>
{% endif %}
<footer class="site-footer">
    <p>Versiyon: 4.0.0</p>
</footer>
<footer style="text-align:center; color:#888; font-size:14px; padding:20px;">
  © <span id="year"></span> infinitesoft-tr. Tüm hakları saklıdır.
</footer>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
<a href="/news" class="sticky-update-btn">
    <span class="icon">⬆️</span>
    <span class="text">Ürün Güncelleştirmeleri</span>
</a>

{% endblock %}
