{% extends "base.html" %}

{% block title %}Infinitesoft-tr{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/decor_projects.css') }}">
{% endblock %}

{% block content %}
<main>
    <header class="header">
        <h3 class="header__item">
            Infinitesoft-tr.com'un ürettiği projelere bakın!
        </h3>
    </header>

    <ul class="list">
        <li class="list__item">
            <a href="/infinitecloud">
                <img class="item__img"
                     src="{{ url_for('static', filename='img/upload-icon-4.png') }}"
                     alt="bulut">
                <span>infinitecloud</span>
            </a>
        </li>

        <li class="list__item">
            <a href="/camsepeti">
                <img class="item__img"
                     src="{{ url_for('static', filename='img/camsepeti.png') }}"
                     alt="camsepeti">
                <span>Çamsepeti</span>
            </a>
        </li>
    </ul>
</main>

<footer class="site-footer">
    <p>Versiyon: 2.8.0</p>
</footer>
{% endblock %}
