<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Çamsepeti-Sepet</title>
    <link rel="stylesheet" href="../static/css/decor_sepet.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=3">
</head>
<body>
    <a class="btn" href="/camsepeti/home">
        <i class="fa-solid fa-house"></i> Ana Sayfa
    </a>
    <a href="/camsepeti/logout" class="btn_red">
        <i class="fa-solid fa-right-from-bracket"></i> Çıkış Yap
    </a>
    <a href="/camsepeti/sepet" class="btn_yellow">
        <i class="fa-solid fa-basket-shopping"></i> Sepetim
    </a>
    <div class="snow"></div>
    <header class="header">
        <img src="../static/img/header_background.jpg" alt="yilbasisusu" class="img0">
    </header>
    <h1 class="baslik">ÇAMSEPETİ</h1>
        <div class="buy">
        <a href="/camsepeti/buy">
            <span>Satın Al</span>
        </a>
    </div>
    <main>
    <h2 class="sepetim_h2">Sepetim</h2>
    </main>
<div class="sepet">
    {% if sepet %}
        {% for urun in sepet %}
        <div class="sepet-item">
            <img src="{{ url_for('static', filename='img/' + urun.resim) }}">
            <div>
                <strong>{{ urun.ad }}</strong><br>
                {{ urun.fiyat }} ₺
                <form action="/camsepeti/sepet_sil" method="POST">
                <input type="hidden" name="index" value="{{ loop.index0 }}">
                <button type="submit">❌</button>
            </form>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Sepet boş</p>
    {% endif %}
</div>
    <footer class="site-footer">
        <p>
            ⚠️ Çamsepeti bir okul projesidir. Gerçek kişisel bilgilerinizi paylaşmayınız.
        </p>
    </footer>
<footer style="text-align:center; color:#888; font-size:14px; padding:20px;">
  © <span id="year"></span> infinitesoft-tr. Tüm hakları saklıdır.
</footer>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
</body>
</html>